body {
	margin: 0;
	padding: 0;
}

.app {
	height: 100vh;
	width: 100vw;
}

.home_main {
	height: 96vh;
	width: 100%;
	background-color: whitesmoke;
	display: flex;
}

.detail_main {
	height: 96vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main_container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.side_container {
	height: 100%;
	width: 30%;
}


.small_side {
	width: 4%;
	background-color: gold;
}

.small {
	height: 4%;
	width: 100%;
	background-color: gold;
}

.detail {
	width: 100%;
	background-color: white;
}

.stats,
.task_list {
	height: fit-content;
	width: 100%;
}


.navbar {
	height: 4vh;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: lightgray;
}

.info_container {
	width: 100%;
	height: fit-content;
	display: flex;
}

.worktable {
	height: 70%;
	width: 100%;
	background-color: whitesmoke;
	display: flex;
}

.editzone {
	background-color: whitesmoke;
	width: 90%;
	height: 90%;
	margin: 1rem;
	padding: 1rem;
}

.favorite_off {
	width: 2rem;
	height: 2rem;
	position: relative;
}

.info_project {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 800;
	font-size: 1.5rem;
}
