body {
	margin: 0;
	padding: 0;
}

.app {
	height: 100vh;
	width: 100vw;
}

.home_main {
	height: 96vh;
	width: 100%;
	background-color: whitesmoke;
	display: flex;
}

.detail_main {
	height: 96vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main_container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: -4rem 0rem;
}

.side_container {
	height: 100%;
	width: 30%;
}


.small_side {
	width: 4%;
	background-color: gold;
}

.small {
	height: 4%;
	width: 100%;
	background-color: gold;
}

.detail {
	width: 100%;
	background-color: white;
}

.stats,
.task_list {
	height: 60vh;
	display: flex;
	overflow: auto;
	width: 100%;
}

.taskzone {
	flex-grow: 1;
	overflow: auto;
	width: 40%;
	flex-direction: column;
	display: flex;
	height: 60vh;
}


.navbar {
	height: 4vh;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: lightgray;
}

.info_container {
	width: 100%;
	height: fit-content;
	display: flex;
}

.worktable {
	height: 60vh;
	width: 100%;
	background-color: whitesmoke;
	display: flex;
	overflow-y: hidden;
}

.editzone {
	background-color: whitesmoke;
	border: 0.01rem solid lightgray;
	width: 90%;
	height: 50vh;
	overflow-y: hidden;
	margin: 1rem;
	padding: 1rem;
}

.favorite_off {
	width: 2rem;
	height: 2rem;
	position: relative;
}

.info_project {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 800;
	font-size: 1.5rem;
}

.row {
	display: flex;
	flex-direction: column;
}

.action_button {
	position: absolute;
	bottom: 4rem;
	left: 1rem;
	border-radius: 50%;
	border: 0.1rem solid gold;
	background-color: white;
	box-shadow: #00000030 0 0 4px 2px;
	width: 4rem;
	height: 4rem;
	font-size: 4rem;
}

.action_button_content {
	box-sizing: content-box;
	margin-top: -0.25rem;
	padding-left: 20%;
	padding-bottom: 20%;
	font-weight: 800;
}

.bar {
	display: flex;
	width: 100%;
	margin-right: 2rem;
}

.btn_form {
	background-color: lightgray;
	padding: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.selected {
	filter: brightness(85%);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
